<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>رفع المستند بنجاح</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>📂 تم رفع المستند بنجاح!</h1>
    <p><strong>اسم الملف:</strong> {{ filename }}</p>
    <a href="/" class="btn-back">⬅ العودة إلى الصفحة الرئيسية</a>

    <script>
function toggleMode() {
    const body = document.body;
    body.classList.toggle("dark-mode");
    localStorage.setItem("theme", body.classList.contains("dark-mode") ? "dark" : "light");
}

window.onload = function () {
    if (localStorage.getItem("theme") === "dark") {
        document.body.classList.add("dark-mode");
    }
}
</script>


</body>
</html>
